<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser; else loggedout">
    <div class="navbar-nav">
        <a class="navbar-brand" href="#">
            <img src="../../src/app/assets/images/wellkom_logo.svg" class="img-rounded" alt="WelKom Logo">
        </a>
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
        <a class="nav-item nav-link" routerLink="/scoreDetail">Score Detail</a>
        <a class="nav-item nav-link" routerLink="/goalSetup">Goal Setup</a>
        <a class="nav-item nav-link" routerLink="/wellnessQuestion">Wellness Question</a>
        <a class="nav-item nav-link" routerLink="/report" *ngIf="isAdmin">Report</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        <a class="nav-item nav-link" routerLink="/editProfile">Edit Profile</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<ng-template #loggedout>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="navbar-brand" href="#">
                <img src="../../src/app/assets/images/wellkom_logo.svg" class="img-rounded" alt="WelKom Logo">
            </a>
            
        </div>
    </nav>
</ng-template>
<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="text-center">   
</div>